<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Users\Mostafa\Desktop\LogTest\MegriaLog.txt">
  <!-- internalLogFile — place where any issue with NLog would be logged. -->

  <targets>
    <target name="errorLog" xsi:type="File"
            fileName="C:/Users/Mostafa/Desktop/LogTest/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>

    <target name="traceLog" xsi:type="File"
            fileName="C:/Users/Mostafa/Desktop/LogTest/${shortdate}_Debugfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="errorLog" />
    <logger name="*" levels="Error,Debug" writeTo="traceLog" />
  </rules>
</nlog>
