<br />
<br />
<a [routerLink]="['/home/category' , 0]" class="btn btn-success col-lg-3 col-md-4 col-6 text-light add-new-btn">Add New
  Category</a>
<br />
<br />

<p-table [columns]="cols" [value]="categories">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]='[col.class]'>
        {{col.header}}
        <p-sortIcon [field]="col.field" [class]='col.field'></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{category.categoryId}}</td>
      <td><img [src]='getImage(category.imagePath)' alt="Category Image" width="100" height="100"></td>
      <td>{{category.categoryName}}</td>
      <td>{{category.description}}</td>
      <td><a [routerLink]="['/home/category' , category.categoryId]" class="btn btn-info text-light"><i class="pi pi-pencil"></i></a></td>
      <td><a class="btn btn-danger text-light" data-toggle="modal" data-target="#exampleModal"
          (click)="OnSetIdForDelete(category.categoryId)"><i class="pi pi-trash"></i></a></td>
    </tr>
  </ng-template>
</p-table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete this category?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="OnDelete()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>


</div>