.checkOut{
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: 1;
 }
 .btnNext{
    border: 3px solid black;
    background-color: black;
    color:gainsboro;
 }
 .btnNext,
 .contShopping{
    text-align: center;
    padding: 3px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50px;
 }
 .contShopping{
     color: red;
     border: 3px solid red;
 }
 .nav-item{
    display: none !important;
 }
 
 /* a[href="#step-3"]{
    display: none;
 }
 ng-wizard .nav-tabs{
    display: none;
 } */
