<div class="orderSummary">
    <table class="table table-borderless">
        <tr>
            <td class="summaryTitle">SUMMARY</td>
            <td></td>
        </tr>
        <tr>
            <td>SUBTOTAL</td>
            <td class="number">EGP17000</td>
        </tr>
        <tr>
            <td>SHIPPING</td>
            <td class="number">EGP0.00</td>
        </tr>
        <tr>
            <td>COD FEE</td>
            <td class="number">EGP0.00</td>
        </tr>
        <tr>
            <td><b>TOTAL</b></td>
            <td class="total number">EGP17000</td>
        </tr>
    </table>
</div>